header{
    background-color: #08803a;
}

body {
    background-color: aliceblue;
}

.body {
    padding-right: 20px;
}

.nav-container {
    width: 80%;
    display: inline-block;
}

.logo {
    float: left;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

nav ul li a:hover {
    color: black;
    /* background-color: black; */
}

/* nav ul li a.active {
    background-color: white;
} */

/* nav ul li a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    top: 0;
    background-color: black;
    transition: all ease-in-out 250ms;
} */

nav ul li a:hover::before {
    width: 100%;
}

.logout {
    color: black;
}