.truck {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    float: right;
    border-width: 10px;
    width: 30%;
    margin-right: 15%;
    margin-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}
button {
    border: none;
    outline: 0;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.bogie{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}