{% load static %}
<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>ورود</title>
        <link rel="stylesheet" href="{% static 'app/styles/base.css' %}">
    </head>
    
    <body class="body">
        <h2>ورود</h2>
        <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">نام کاربری : </label>
            <input id="id_username" type="text" name="username" autofocus="" autocomplete="username" autocapitalize="none" maxlength="150" required="True">
        </p>
        <p>
            <label for="id_password">رمز عبور : </label>
            <input id="id_password" type="password" name="password" autocomplete="current-password" required="True">
        </p>
        <button type="submit">ورود</button>
        </form>
    </body>
</html>
